/*-----------  Select Dropdowns  -----------*/

.select-wrapper
  position: relative
  margin: 0.75em auto

  select
    margin-top: 0
    margin-bottom: 0
    cursor: pointer
    background-color: $white

  label
    position: relative

  &:before
    top: 0
    right: 1rem
    color: $grayDark
    font-size: 1.15em
    position: absolute
    line-height: 2.25rem
    pointer-events: none
    @include transition()

  &:hover
  
    &:before
      color: $black
