/*-----------  Header  -----------*/

.global-header
  left: 0
  right: 0
  z-index: 100
  position: absolute
  @include header-font()
  @include full-span(1.25em $gutter)

  /*-----------  Header Logo  -----------*/

  .header-logo
    float: left
    width: 15em

    img
      width: 100%
      height: auto
      margin-bottom: 0.25em

    h1
      margin: 0
      color: $white
      font-size: 1.5em
      text-align: center
      text-transform: uppercase
      @include antialiased()

    .mobile-menu-trigger
      top: 1px
      right: 0
      color: $white
      display: none
      z-index: 1000
      cursor: pointer
      font-size: 2.75em
      position: absolute
      @include transform(rotate(90deg))
      @include transition()

      &:before
        margin: 0

    // @include media($tabletBreak)
    //   float: none
    //   width: 100%

    //   .mobile-menu-trigger
    //     top: 0.45em
    //     right: 0.2em
    //     display: block

    // @include media($mobileBreak)

    //   .mobile-menu-trigger
    //     top: 0.5em
    //     font-size: 2.5em

  /*-----------  Header Navigation  -----------*/

  .header-navigation
    text-align: right
    padding-top: 0.25em

    > a
      color: $white
      font-size: 1.1em
      margin-left: 1em
      text-transform: uppercase
      @include inline-block()
      @include antialiased()

      &.social-link i:before
        font-size: 1.67em
        margin-right: 0

      &:hover,
      &.active
        color: $green

      &.active
        pointer-events: none

    // @include media($tabletBreak)
    //   display: none
