/*-----------  Body  -----------*/

*, *:after, *:before
  @include box-sizing(border-box)

html,
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

body
  color: $black
  font-size: $emBase
  letter-spacing: 0.05em
  background-color: $white
  @include antialiased()
  @include body-font()

  @include media($mobileBreak)
    font-size: 90%

/*-----------  Global Wrapper  -----------*/

.global-wrapper
  position: relative

  @include media($tabletBreak)
    top: 0
    right: 0
    width: 100%
    height: 100%
    position: fixed
    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    @include transition(right 0.33s ease-in-out)

    &.mobile-menu-active
      right: 15em  
      box-shadow: 0 0 3em rgba(0,0,0,0.5)

      .mobile-menu-trigger
        color: $green !important

/*-----------  Global Content  -----------*/

.global-content

  > section
    @include full-span()

