/*-----------  Newsletter Signup  -----------*/

.newsletter-wrapper
  text-align: center
  background-color: $grayLight !important

  h2
    font-size: 2em
    font-weight: bold
    margin: -0.5em 0 0.75em
    font-family: 'Helvetica', Helvetica, Arial, sans-serif

  .input-wrapper
    max-width: 40em
    margin: 0 auto 2em
    @include justify-content(space-between)
    @include align-items(stretch)
    @include display(flex)

    input[type='email']
      font-size: 1.1em
      line-height: 2em
      @include flex(0 1 100%)

    button
      line-height: 2em
      margin-left: 0.5em
      @include flex(1 0 auto)
