---
title: Fine 3D Printed Jewlery
---

/*-----------  Video  -----------*/

section.video-wrapper
  video.video-block autoplay="true" loop="true" poster="#{image_path('video-bg.jpg')}"
    source src="#{image_path('video.mp4')}" type="video/mp4"

/*-----------  Slideshow  -----------*/

/ section.slideshow-wrapper
  
/   .slideshow-block style="background-image:url(#{image_path('slideshow/slideshow_1.jpg')})"
/   .slideshow-block style="background-image:url(#{image_path('slideshow/slideshow_2.jpg')})"

/   i.icon-arrow-left
/   i.icon-arrow-right    

/*-----------  Customization  -----------*/

section.customizer-wrapper

  form.bounds-wrapper

    fieldset
      .copy-block
        p Design your MNGRM
        p A beautifully crafted pendant made from any letter combination.

      input.initials id="order-firstLetter" type="text" value="A" maxlength="1"
      input.initials id="order-secondLetter" type="text" value="L" maxlength="1"
      .button-alt id="order-rerender" View

    fieldset
      .flex-wrapper
        span Order this as a

        .select-wrapper.type
          select id="order-type"
            option value='necklace' Necklace
            option value='keychain' Keychain

        .select-wrapper.size
          select id="order-size"
            option value='small' 1/2 Inch
            option value='large' 3/4 Inch

        .select-wrapper.material
          select id="order-material"
            option value='stainless_steel' Stainless Steel
            option value='matte_black_steel' Matte Black Steel
            option value='raw_bronze' Raw Bronze
            option value='raw_brass' Raw Brass
            option value='polished_bronze' Polished Bronze 
            option value='polished_brass' Polished Brass
            option value='premium_silver' Premium Silver
            option value='gold_14_k' 14k Gold
            option value='gold_14_k_rose' 14k Rose Gold
            option value='gold_14_k_white' 14k White Gold
            option value='gold_18_k' 18k Gold
            option value='platinum' Platinum

        strong.price-block $49.00

        input type="hidden" id="order-price" name="order-price" value="481.78"
        input type="submit" value="Buy Now"

/*-----------  Rendering  -----------*/

section.rendering-wrapper
  
  .loading-block
    i.icon-loading
    | Rendering...

  iframe(src="https://lagoa.com/embed_links/4876?validationHash=53AO6YHYnkDqOSE14fKsYv4nOD_2PQ&width=580&height=450&auto_load_scene=true" id="lagoaframe" width="580" height="450" scrolling="no" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

/*-----------  Content: Sizes  -----------*/

section.size-wrapper
  .bounds-wrapper
    h3 Sizes

    .size-block.first
      | 1/2 Inch 
      br
      | Necklace
    .size-block
      | 3/4 Inch 
      br
      | Necklace
    .size-block
      | 1/2 Inch 
      br
      | Keychain
    .size-block.last
      | 3/4 Inch 
      br
      | Keychain          

/*-----------  Content: Materials  -----------*/

section.content-wrapper
  .bounds-wrapper
    h3 Materials

    table.materials-wrapper
      /*-----   First Row   -----*/
      tr
        td
          = image_tag 'materials/stainless-steel.png'
          strong Stainless Steel
          span Bronze-infused stainless steel with visible print lines and rough feel
        
        td.filler
        td
          = image_tag 'materials/black-steel.png'
          strong Matte Black Steel
          span Treated for a matte black finish and textured with visible print lines
        
        td.filler
        td
          = image_tag 'materials/raw-bronze.png'
          strong Raw Bronze
          span Organic bronze resembling rose gold with a rough antique finish

        td.filler
        td
          = image_tag 'materials/raw-brass.png'
          strong Raw Brass
          span Pure brass in its natural state with a slightly rough antique finish

      /*-----   Second Row   -----*/
      tr
        td
          = image_tag 'materials/polished-bronze.png'
          strong Polished Bronze
          span Organic bronze resembling rose gold that's hand-polished to a fine sheen
        
        td.filler
        td
          = image_tag 'materials/polished-brass.png'
          strong Polished Brass
          span Pure brass that's hand-polished to a fine sheen

        td.filler
        td
          = image_tag 'materials/premium-silver.png'
          strong Premium Silver
          span Elegant, sleek sterling silver thoroughly hand-polished to a fine sheen

        td.filler
        td
          = image_tag 'materials/14k-gold.png'
          strong 14K Gold
          span Solid 14k Gold polished to a beautiful smooth sheen

      /*-----   Third Row   -----*/
      tr
        td
          = image_tag 'materials/14k-rose-gold.png'
          strong 14K Rose Gold
          span Solid 14k Rose Gold hand-polished to a beautiful smooth sheen
        
        td.filler
        td
          = image_tag 'materials/14k-white-gold.png'
          strong 14K White Gold
          span Solid 14k White Gold hand-polished to a beautiful smooth sheen
          
        td.filler
        td
          = image_tag 'materials/18k-gold.png'
          strong 18K Gold
          span Solid 18k Gold hand-polished to a beautiful smooth sheen

        td.filler
        td
          = image_tag 'materials/platinum.png'
          strong Platinum
          span Solid Platinum hand-polished to a beautiful smooth sheen

/*-----------  Content: About  -----------*/

section.content-wrapper
  .bounds-wrapper
    h3 About

    .about-wrapper

      ul.facts-block
        li
          i.icon-star
          p MNGRMS are impossible to make by hand. We use the latest in 3D printing technology to make our complex precious metal pendants.
        li
          i.icon-ruler
          p Each individual 1/2 inch MNGRM is made up of over 2 feet of solid metal piping.
        li
          i.icon-time
          p Each custom MNGRM will arrive 3 - 4 weeks from the date of order
        li
          i.icon-chain
          p Our chains are made from the finest matching material and will last with age. Necklaces include a long 30 inch chain. Keychains include a 1.5 inch keyring chain.                  
        li
          i.icon-typeface
          p MNGRM is designed from our favorite contemporary sans- seriff Arial typeface.                 

      .process-block

/*-----------  Content: Instagram  -----------*/

section.content-wrapper
  .bounds-wrapper
    h3 Instagram

    .instagram-wrapper
      - 10.times do
        = image_tag 'instagram-filler.png', :class => 'instagram-block'

/*-----------  Newsletter Signup  -----------*/

section.newsletter-wrapper
  .bounds-wrapper

  h2 Sign up for our mailing list

  .input-wrapper
    input type="email" placeholder="name@email.com"
    button Submit
